# System related
build
gcsfs
pyyaml
types-pyyaml

# Scipy stack
numpy
matplotlib
scikit-learn
pandas

# Deep learning
torch == 1.11
torchvision
tensorboard
torch-tb-profiler

# GCP
google-cloud-storage

# Others
tqdm

# Testing
pytest
pytest-cov
pytest-mock

# Formatiing, linting
mypy
pylint
black
isort